
/* Flexbox Version of the CSS Styling, I'm not sure if running two of these at the same time remains compatible*/


/*Commenting Out Grid Solution to Test Flexbox */
/* RESET */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* COLORS and FONTS */
body {
    color: red;
    text-align: center;
    font-size: 24px;
    line-height: 3;
}
header {
    background: blue;
}
main {
    background: yellow;
}
footer {
    background: green;
}
.left-sidebar {
    background: purple;
}
.right-sidebar {
    background: forestgreen;
}

.container {
    display: flex;
    flex-direction: column;
}

@media all and (min-width: 768px) {
    .container {
        flex-direction: row;
        flex-wrap: wrap;    
    } 
    header, 
    footer {
        width: 100%;
    }
    main {
        flex: 2;
        order: 2;
        min-height: 80vh;
    }
    
    .left-sidebar {
        order: 1;
        flex: 1;
    }
    .right-sidebar {
        flex: 1;
        order: 3;
    }
    footer {
        order: 4;
    }
}


/*Commenting Out Grid Solution to Test Flexbox */











/* Grid version of the Holy Grail*/


/*Commenting Out Grid Solution to Test Flexbox */
html,
body {
    padding: 0;
    margin: 0;
}

.parent {
    height: 100vh;
    display: grid;
    grid: auto 1fr auto / 100px 1fr 100px;
}

header,
footer,
.left-sidebar,
main,
.right-sidebar {
    padding: 10px;
}

header {
    grid-column: 1 / 4;
    background-color: yellow;
}

.left-sidebar {
    grid-column: 1 / 2;
    background-color: red;
}

main {
    grid-column: 2 / 3;
    background-color: green;
}

.right-sidebar {
    grid-column: 3 / 4;
    background-color: blue;
}

footer {
    grid-column: 1 / 4;
    background-color: brown;
    color: white;
}

@media (max-width: 768px) {
    .parent {
        grid: repeat(5, 1fr) / 1fr;
    }

    header,
    footer,
    .left-sidebar,
    main,
    .right-sidebar {
        grid-column: 1 / 2;
    }
}



/*Commenting Out Grid Solution to Test Flexbox*/